@font-face {
  font-family: 'Iosevka Term';
  src: url('fonts/Iosevka-Term.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/Iosevka-Term.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/Iosevka-Term.ttf')  format('truetype'); /* Safari, Android, iOS */
}

* {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

a {
  transition: color 0.2s;
}

aside div img {
  max-width: 200px;
}

@media screen and (min-width: 768px) {
  aside {
    width: 30%;
  }
  main {
    width: 70%;
    left: 30%;
  }
}

.clear-wrapper:after {
    content: ' ';
    display: block;
    height: 0;
    clear: both;
}

/* Portfolio */
.portfolio-item {
  border: 1px solid lighten(black, 80%);
  box-shadow: 0 0 6px rgba(0, 0, 0, .3);
  margin: 12px 0;
  padding: 10px;
  max-width: 900px;

  .thumbnail {
    box-shadow: 0 0 6px rgba(0, 0, 0, .3);
    max-width: 100px;
    max-height: 100px;
    display: block;
    margin: 0 auto 10px auto;

    @media screen and (min-width: 768px) {
      max-width: 200px;
      max-height: 200px;
      float: left;
      width: 23%;
    }
  }

  .content {
    position: relative;

    @media screen and (min-width: 768px) {
      float: right;
      width: 73%;
    }

    .video-container {
      position:relative;
      padding-bottom:56.25%;
      padding-top:30px;
      height:0;
      overflow:hidden;

      iframe, object, embed {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
      }
    }

    h2 {
      margin-top: 0px;
      margin-bottom: 10px;
      font-size: 1.4em;
      font-weight: bold;

      .trophy {
        color: #d4af37;
        margin-right: 5px;
      }

      .gh-logo {
        text-decoration: none;
        margin: 0 10px;
      }

      .dates {
        float: right;
        font-size: 0.6em;
        line-height: 1.6em;
      }
    }

    h3 {
      text-align: left;
      margin-top: -10px;
      font-size: 1.2em;
    }

    .live-demo {
      font-weight: bold;
    }

    .expand-link {
      width: 120px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      display: block;
    }

    a {
      z-index: 1001;
    }
  }

  .tags {
    margin-bottom: 10px;
    line-height: 1.5em;

    .tag-label {
      font-weight: bold;
    }

    span:not(.tag-label):not(.caps) {
      color: black;
      font-family: 'Iosevka Term', monospace;
      background-color: #adcfff;
      padding: 0 5px;
      margin-top: 3px;
      display: inline-block;
    }

    td {
      border-top: none;
      line-height: 1.5em;
    }
  }

  &.collapsed {
    max-height: 100px;

    .thumbnail {
      max-width: 100px;
      max-height: 100px;
      width: 15%;
      float: left;
    }

    .content {
      width: 80%;
      max-height: 100px;
      text-overflow: ellipsis;
      overflow: hidden;
      float: right;

      h2 {
        font-size: 1.15em;
      }
      h3 {
        font-size: 1em;
      }

      .expand-link {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(0.25turn, transparent 0%, white 25%, white 75%, transparent 100%);
        padding: 3px 35px;
      }
    }
  }

  &:hover {
    img.thumbnail {
      opacity: 1;
    }
  }
}

/* Image Galleries */
.gallery {
  text-align: center;

  tr {
    max-width: 60%;

    td {
      vertical-align: middle;
    }
  }

  img {
    padding: 5px;
  }
}

/* Custom theming for admonitions */
div.admonition {
  margin-bottom: 1.5rem;

  p.admonition-title {
    margin-bottom: 0.8rem;
  }
}

.strike {
  text-decoration: line-through;
}

.field-list .field .field-name {
  text-align: right;
}

// Images
main img, video {
  opacity: 90%;

  &:hover, &:active, &:focus {
    opacity: 1;
  }
}

// Isso
main article section#isso-thread {
  .isso-comment > div.text-wrapper {
    a.author:hover {
      text-decoration: underline;
    }
  }
}

//
// Nav bar
//

main nav a {
  font-size: 13px;
}

// Left-aling nav on desktop
@media screen and (min-width: 768px) {
  main nav {
    text-align: left;
    padding-left: 8%;

    a:first-child {
      padding-left: 0;
    }
  }
}

// Width should be only 45rem;
main article {
  max-width: 45rem;

  p, ul li, ol li {
    text-align: justify;
  }
}

main footer p {
  padding: 0 8%;
  max-width: 45rem;
  margin: 2px 0;

  img {
    margin-top: 4px;
  }
}

main .pagination {
  max-width: 45rem;
}

// Use a darker style for tipue search input all the time because, by default,
// it's too bright.
aside {
  form.navbar-search input#tipue_search_input {
    background-color: #222222;
    color: #eeeeee;
  }
}

/* Dark Theme */
@mixin dark-mode-rules {
  $light-grey: #eeeeee;
  $grey: #333333;
  $dark-grey: #242121;
  $dark-white: #aaaaaa;

  .portfolio-item {
    border-color: $dark-grey;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);

    .thumbnail {
      box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    }
  }

  aside {
    form.navbar-search input#tipue_search_input {
      background-color: #1a1a1a;
    }
  }

  // Dim images more in dark mode.
  main img, video {
    opacity: 70%;

    &:hover, &:active, &:focus {
      opacity: 1;
    }
  }

  .portfolio-item.collapsed .content .expand-link {
    background: linear-gradient(0.25turn, transparent 0%, $grey 25%, $grey 75%, transparent 100%);
  }
}

@media (prefers-color-scheme: dark) {
  body:not(.light-theme) {
    @include dark-mode-rules;
  }
}

body.dark-theme {
  @include dark-mode-rules;
}
